PORT=3002
NODE_ENV=development

# Alphabet
ALPHABET_API_URL=https://partner-acc-2.alphabet.com/lease-quotation-service

# Vixiees Totalrenting - URLs de destino separadas por coma
VIXIEES_TOTALRENTING_DESTINATIONS=http://localhost:3001/api/vixiees/webhook,https://n8n.srv1276600.hstgr.cloud/webhook/webhook/vixiees-9f3a2c8b71d44e6a

# Vixiees Twipo - URLs de destino separadas por coma
VIXIEES_TWIPO_DESTINATIONS=
